{extend name="layouts/layout_index" /}

{block name="title"}
满盈策略
{/block}

{block name="style"}
<style type="text/css">
	.weixin-section2{
		width: 100%;
		background: url(__RESOURCEWEB__/images/top01.png) no-repeat center center;
		background-size: cover;
		/*font-size: 0;*/
		height: 500px;
	}
	.weixin-section2 .w1024{
		position: relative;
	}
	.text_r{
		width: 515px;
		float: right;
		text-align: left;
		position: relative;
		margin-top: 160px;
	}
	.text_r h1{
		font-size:34px;
		font-weight: normal;
		margin-bottom: 5px;
	}
	.text_r h1 span{
		color: #FE3333;
	}
	.titleP{
		font-size: 20px;
		margin-bottom: 40px;
	}
	.img_box{
		float: left;
		width:128px ;
		height: 180px;
		text-align: center;
		margin-right: 105px;
	}
	/* 2019年5月10日10:44:53 */
	.wapper {
		width: 1000px;
		margin: 0 auto;
	}
	.weizhi {
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		color: #666;
	}
	.weizhi span {
		color: #d42b2e;
	}
	.inside_con {
		padding: 10px 10px;
		background: #fff;
	}
	.NewList td{
		border-bottom: 1px dotted #666;
	}
	a:hover{
    	color: #d42b2e !important;
	}
</style>
{/block}

{block name="content"}

<!--点卖区-->
<div class="br-content">
	<section class="weixin-section2">
		<!-- <div class="w1024 br-clearfix">
			<div class="text_r ">
				<h1><span>微信端</span>&nbsp;<span>手机端</span>APP全面上线</h1>
				<p class="titleP">A股点买交易更加轻松、便捷</p>
				<div class="img_box">
					<img src="__RESOURCEWEB__/images/ewm1.jpg" style="width: 122px;" height="122px">
					<p>用微信扫描二维码<br>关注官方公众号</p>
				</div>
				<div class="img_box">
					<img src="__RESOURCEWEB__/images/download.png" style="width: 122px;" height="122px">
					<p>扫描二维码即可<br>下载APP</p>
				</div>

			</div>
		</div> -->
	</section>
</div>

<div class="insidebg">
		<div class="inside wapper">
			<div class="weizhi">位置<a href="{:url('web/Index/index')}">首页</a> > <a></a> > <span>常见问题</span></div>
			<div class="inside_con">
			<!--Content Start-->
			<table width="100%" align="center" cellspacing="10" cellpadding="0" border="0">
				
				<tr>
					<td align="center" style="font-size: 14px; font-weight: bold; border-top: #ddd dashed 1px; padding-top: 5px;text-align: center"
						colspan="2">
						<span id="lblTitle">策略交易费用及资费标</span>
					</td>
				</tr>
				<tr>
					<td align="center" style="border-bottom: #ddd dashed 1px; padding-bottom: 5px;text-align:center" colspan="2">
						发表时间<span id="lblPutdate">2019-02-10</span>
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2" style="font-size: 14px; font-family: 宋体;">
						<span id="lblContent">
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-align: center;">
								<br /></p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								策略人通过本平台参与沪深A股交易合作将涉及建仓费和履约保证金的发生。如策略人参与持仓时间为T+1｜D的交易合作还将涉及延递费的发生</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								<strong
									style="padding: 0px; margin: 0px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8;">一、建仓费
								</strong></p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								1、建仓费为策略盈平台向策略人收取的费用。建仓费包含</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								1）平台为策略人提供交易合作信息发布、交易合作撮合、交易指令通讯、交易风控管理与交易清结算等服务而收取的信息服务费；</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								2）平台代投资人收取用于补偿投资人帐户交易过程中产生的佣金、印花税和过户费等费用；</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								3）平台代第三方支付平台收取用于第三方支付为策略人提供资金存取、冻结、解冻和支付等服务手续费</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								2、建仓费以交易本金为计费基数，按每万元交易本40元计费。计算公式：策略人支付建仓费＝交易本金*40/10000。（下表数值仅为用户查询方便提供，建仓费具体数值以策略人实际选择为准。） </p> <p
									style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
									3、建仓费于策略人签署《交易合作协议》时即支付。建仓费一经支付不予退还。当且仅当因平台原因导致系统故障，致使策略人和投资人交易合作失败时，策略人方可向平台申请退还建仓费</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								<strong
									style="padding: 0px; margin: 0px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8;">二、履约保证金</strong>
							</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								1、履约保证金为策略人委托本平台冻结用于履行交易亏损赔付义务的保证金。策略人以冻结履约保证金之数额作为承担交易亏损赔付的上限</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								2、履约保证金以交易本金为计算基数，以触发止损为冻结系数，计算策略人应冻结履约保证金金额。计算公式：策略人冻结履约保证金＝交易本金×｜触发止损/0.7｜。（下表数值仅为用户查询方便提供，触发止损具体数值以策略人实际选择为准。）
							</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								3、交易合作结束，根据本平台提供的清算结果，如交易盈利，策略人冻结履约保证金全额解冻。如交易亏损，从策略人冻结在平台的履约保证金中，扣减策略人所应承担亏损赔付额的数额，扣减后余额解冻</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								<strong
									style="padding: 0px; margin: 0px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8;">三、延递费（仅在持仓时间为T+1｜D的交易存在产生此费用</strong>
							</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								1、延递费为策略人通过沪深通策略盈平台向投资人申请将交易品种持仓时间延递至下一交易日所支付的费用。延递费包含</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								1）平台收取的信息服务费</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								2）平台代投资人收取用于补偿投资人资金占用费</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								2、延递费以交易本金为计费基数，分档计费。具体为：单次延递按每万元交易本19.9元计费。计算公式：策略人支付延递费＝交易本金*19.9/10000 </p> <p
									style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
									3、交易日当天14:40，若策略人不主动卖出，且符合延递条件，则默认为策略人需要延递，延递费将从策略人于策略盈平台的资金账号中自动扣除</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								4、本附件系策略人与投资人签署《交易合作协议》的重要组成部分，具有同等法律效力</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								<strong
									style="padding: 0px; margin: 0px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8;">四、关于以上资费标准的声明
								</strong></p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								1、本平台声明，以上所有涉及资费标准的数据，均为平台根据市场行情阶段性调整的实时标准，该数据具有一定浮动性</p>
							<p
								style="padding: 0px; margin-top: 10px; margin-bottom: 10px; border: 0px; list-style: none; outline: none; box-sizing: border-box; line-height: 1.8; color: rgb(34, 34, 34); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Helvetica, 黑体, Arial, Tahoma; font-size: 13px; white-space: normal; background-color: rgb(255, 255, 255); text-indent: 2em;">
								2、平台关于以上资费标准不做不予调整的承诺，平台将根据客观的市场行情对资费标准进行适时调整，关于调整结果将及时告知所有平台用户，并将一如既往地尊重用户在新的资费条件下是否选择继续与平台合作的权利</p>
							<p><br /></p>
						</span>
					</td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2">上一篇：<a href="{:url('web/home/wt2')}">《递延费规则说明》</a>
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2">下一篇：<a href="{:url('web/home/wt3')}">满盈策略交易规则</a>
					</td>
				</tr>
				
			</table>
			<!--Content End-->
	
		</div>
	</div>
</div>
<!--遮罩层-->
<div class="mask"></div>
{/block}

{block name="script"}
{/block}