{extend name="layouts/layout_user" /}

{block name="title"}
关于
{/block}

{block name="style"}
<style type="text/css">
    .boxflex0{
        line-height: 30px;
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
        background: #fff;
        font-size: 14px;
    }
    .gy01{
        float: left;
    }
    .gy_right{
        float: right;
        width: 5%;
    }
    a{
        color: black;
    }
    .mui-navigate-right:after, .mui-push-right:after{
        display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;
    }
</style>
{/block}

{block name="body"}
<body class="withdrew_body">
{/block}

{block name="content"}
	<div class="withdrew_body">
		<header class="header_con">
		    <a href="javascript:history.go(-1)" class="lf">
		        <img src="__RESOURCE__/img/call_back.png">
		    </a>
		    <p>关于协议</p>
		</header>
		<div class="personal">
            <a href="{:url('index/User/protocol_1')}" class="mui-navigate-right"><div class="boxflex0 clearfloat">
                <div class="gy01">满盈策略策略人参与沪深A股交易合作涉及费用及资费标准</div>
                <div class="gy_right">></div>
            </div></a>
            <a href="{:url('index/User/protocol_2')}" class="mui-navigate-right"><div class="boxflex0 clearfloat">
                <div class="gy01">满盈策略投资人与点买人参与沪深A股交易合作协议</div>
                <div class="gy_right">></div>
            </div></a>
            <a href="{:url('index/User/protocol_3')}" class="mui-navigate-right"><div class="boxflex0 clearfloat">
                <div class="gy01"> 满盈策略服务协议</div>
                <div class="gy_right">></div>
            </div></a>
            <a href="{:url('index/User/protocol_4')}" class="mui-navigate-right"><div class="boxflex0 clearfloat">
                <div class="gy01">满盈策略代理推广服务协议</div>
                <div class="gy_right">></div>
            </div></a>
    	</div>
	</div>
{/block}

{block name="nav"}
{/block}

{block name="script"}
<!-- <script type="text/javascript" src="__RESOURCE__/js/common.js"></script> -->

{/block}