{extend name="layouts/layout_user" /}

{block name="title"}
线下支付
{/block}

{block name="style"}
<style type="text/css">
    /* .withdrawal-name {
        line-height: 30px;
    }
    .withdrawal-con .control-style {
        line-height: 30px;
    }
    .boxflex1 .get-btn {
        line-height: 30px;
    }
    .withdrawal-con.yanzheng {
        width: 40%;
    }
    .boxflex1 .get-btn {
        border: 1px solid #0066FF;
        padding: 0 .2rem;
	} */
	.idea_content{
		border: 1px solid #ccc;
	}
    .withdrawal-name{
        text-align: right;
        padding-right: 20px;
    }
    .required{
        line-height: 30px;
        height: 30px;
    }
</style>
{/block}

{block name="body"}
<body class="withdrew_body">
{/block}

{block name="content"}
	<div class="withdrew_body">
		<header class="header_con">
		    <a href="javascript:history.go(-1)" class="lf">
		        <img src="__RESOURCE__/img/call_back.png">
		    </a>
		    <p>线下支付</p>
		</header>
		<div class="personal">
		    <form id="with-drawForm" method="post">
				<div class="boxflex1 mt10 clearfloat">
			        <div class="withdrawal-name">公司户名：</div>
			        <div class="withdrawal-con">
			            <div class="form-group field-userwithdraw-amount required">
                            武汉薪龙薪凤网络科技有限公司
						</div>        
					</div>
			    </div>
			    <div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">公司账号：</div>
			        <div class="withdrawal-con">
                        <div class="form-group field-userwithdraw-amount required">
                            3202189609100007334
                        </div>          
					</div>
			    </div>
			    <div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">开户行：</div>
			        <div class="withdrawal-con">
                        <div class="form-group field-userwithdraw-amount required">
                            中国工商银行股份有限公司武汉塔子湖东路支行
                        </div>          
					</div>
			    </div>
			    <div class="withdrawal-tips red">
			        <ul>温馨提示：
			            <li class="red">1、转账后请联系我们在线客服核查</li>
			            <li class="red">2、客服QQ1465888008</li>
			        </ul>
			    </div>
			</form>
		</div>
	</div>
{/block}

{block name="nav"}
{/block}

{block name="script"}
<script type="text/javascript" src="__RESOURCE__/js/common.js"></script>
<script>
    // $("select[name='bank_province']").on("change", function(){
    //     var _id = $(this).val();
    //     $.ajax({
    //         url: "{:url('index/Index/getRegion')}",
    //         type: "POST",
    //         data: {id:_id},
    //         dataType: "json",
    //         success: function(_resp) {
    //             console.log(_resp);
    //             if(_resp.state){
    //                 if(_resp.data){
    //                     var _html = "";
    //                     for(var _key in _resp.data){
    //                         _html += '<option value="' + _resp.data[_key].id + '">'+ _resp.data[_key].name +'</option>';
    //                     }
    //                     $("select[name='bank_city']").empty().append($(_html));
	// 				}
    //                 return false;
    //             }else{
    //                 $alert(_resp.info);
    //             }
    //         }
    //     });
    // });

    $("#submitBtn").click(function () {
        var _url = "{:url('index/User/idea')}",
            _oData = $("form").serialize();
        $ajaxCustom(_url, _oData, function(res){
            if(res.state){ // 登录成功
                $alert("提交成功！");
                setTimeout(function(){
                    window.location.href = res.data.url;
                }, 1000);
            }else{
                $alert(res.info);
            }
        });
    });
</script>
{/block}